.section{
    width: 100%;
    min-height: 100vh;
}

.box{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 70px;
}

.container{
    float: left;
    width: 55%;
}

.image{
    float: right;
    width: 40%;
}

.image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.container .title h1{
    font-size: 35px;
    font-weight: bold;
    color: rgb(117, 167, 117);
    letter-spacing: 7px;
}

.container .content h2{
    font-size: 22px;
    border: none;
    border-bottom: 50px black;
    margin-bottom: 10px;
}

.content.content h2::after{
    content: "";
    height: 3px;
    width: 310px;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: 8px 0;
}

.container .content p{
    font-size: 17px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 13px 40px;
    border-color: rgb(117, 167, 117);
    border-width: 2px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(66, 64, 64);
    transition: background 0.5s;
}

.btn:hover{
    background: rgb(117, 167, 117);
}

@media(max-width:750px){
    .box{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 20px;
    }

    .container{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image{
        float: none;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .image img{
        width: 230px;
        height: 230px;
        border-radius: 50%;
    }

    .box .title, .content{
        text-align: center;
    }

    .box .content h2::after{
        width: 100%;
    }

    .container .button{
        text-align: center;
        margin-bottom: 30px;
    }
}

